$bg-dark: #2b193d;
$card-bg: #2b2b2b;

$text-color: #ffffff;
$disabled-text: #ddd;

$yellow: #ffd93d;
$red: #ff4d4d;
$green: #57cc99;
$blue: #4dabf7;
$black: #000;
$white: white;
$grey: #444;
$cyan: #00ffcc;
$more-cyan: rgb(84, 236, 236);
$purple: #6a4c93;
$gold: gold;
$dark-gold: 383700;
$red-pink: #f8284e;
$reddd: red;


$cute-red: #ff595e;
$cute-orange: #ff924c;
$cute-yellow: #ffca3a;
$cute-green: #8ac926;
$cute-blue: #4cc9f0;
$cute-dark-blue: #1982c4;;
$cute-dark-green: #52b788;
$cute-purple: #6a4c93;
$cute-pink: #f72585;

$border: #000000;

$correct: #00ff33;
$wrong: #ff3b3b;
$disabled: #666;
$correct-bg:rgba(30, 255, 120, .25);
$wrong-bg: rgba(255, 50, 50, .28);

$bg-first: #140b3d;
$bg-second: #231255;
$bg-third: #0b0721;
$bg-fourth: #2b2355;
$bg-fifth: #24154d;
$bg-timer: #2f2657;
$bg-progress:#2c254d;
$bg-result: #2d225a;
$bg-shadow: rgba(0,0,0,.65);

$home-bg-first: #1a123b;
$home-bg-second: #26175b;
$home-bg-third: #0d0920;
$home-bg: #3b2c85;

$heart: rgba(255, 70, 70, .5);
$star: rgb(255, 253, 246);

$header-bg: rgba(255, 255, 255, 0.08);
$another-bg: rgba(26, 18, 59, 0.9);

$option-red: #ff595e;
$option-yellow: #fffa64;
$option-green: #9ff613;
$option-blue: #25acff;

$record: #7dff6d;
$danger-one: #ef4444;
$danger-two: #7f1d1d;

$plant-first: #2d275b;
$planet-second: #5b4de0;
$country-first: #12d8a5;
$country-second: #005c99;
