@use "../../styles/variables.scss" as *;
.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $bg-shadow;
  backdrop-filter: blur(10px);
  z-index: 999;
}

.card {
  width: 650px;
  max-width: 90%;
  padding: 40px;
  background: $bg-result;
  border: 6px solid $black;
  box-shadow: 10px 10px 0 $black;
  text-align: center;
  animation: popup .25s ease;
}

.card h1 {
  margin-bottom: 20px;
  font-family: "Press Start 2P";
  color: $cute-yellow;
}
.card h2 {
  margin: 15px 0;
}
.score,
.record {
  margin: 25px 0;
}

.score h3,
.record h3 {
  margin-top: 20px;
  font-size: 38px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 35px;
}

@keyframes popup {
  from {
    transform: scale(.7);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    opacity: .4;
  }
}
.newRecord {
  margin: 25px 0;
  font-family: "Press Start 2P";
  font-size: 22px;
  color: $record;
  text-shadow:
    3px 3px $black,
    0 0 15px $gold,
    0 0 30px $gold;
  animation: pop 1s infinite alternate;
}

@keyframes pop {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.08);
  }
}