@use "../../styles/variables.scss" as *;
.container {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px;
  color: $cute-yellow;
}
.container::after {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity .15s;
  z-index: 999;
}
.correct::after {
  background: $correct-bg;

  animation: flashGreen .45s;
}
.wrong::after {
  background: $wrong-bg;

  animation: flashRed .45s;
}
@keyframes flashGreen {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes flashRed {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.title {
  margin: 10px 0 15px;
  font-family: "Press Start 2P";
  font-size: 26px;
  text-shadow: 4px 4px $black;
}

.question {
  margin: 25px 0;
  font-size: 22px;
  text-align: center;
  line-height: 1.5;
}

@media (max-width: 700px) {
  .options {
    grid-template-columns: 1fr;
  }
  .image {
    height: 230px;
  }
  .title {
    font-size: 18px;
  }
  .question {
    font-size: 18px;
  }
}
